{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container bg-light p-5">
    <div class="d-flex justify-content-center">
    <img src="/assets/img/logo.png" alt="">
    </div>
    <h1 class="text-center">CLIENT APP</h1>
</div>
{% endblock %}
